@import '_variables';

.articles {
  padding-top: 60px;
}

.articles-list {
  @extend .list-reset;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin-bottom: 60px;
}

.atricles-list__item {
  @extend .flex;

  flex-direction: column;
  height: auto;
}
