@import '_variables';

@mixin arrow {
  &::after {
    content: '';
    position: absolute;
    right: 0;
    transform: translate(-50%, 50%) rotate(45deg);
    padding: 3px;
    border-right: 2px solid $primary;
    border-bottom: 2px solid $primary;
  }
}

@mixin ui-main-menu-btn {
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: $grey;
    color: $black;
  }

  &:hover::after,
  &:focus::after {
    background-color: $grey;
    border-color: $black;
  }
}

@mixin ui-svg-btn {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  svg {
    transition: fill 0.3s ease-in-out;
  }

  &:hover {
    background-color: $grey;
    color: $primary;
  }

  &:focus {
    outline: 2px solid $primary;
  }

  &:hover svg {
    fill: $primary;
  }
}

@mixin ui-text($color) {
  position: relative;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover {
    color: $color;
  }

  &:focus {
    outline: 2px solid $color;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $color;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after {
    transform: scale(1);
  }
}
